# GITIGNORE CONFIGURATIONS

# Bin / executable folders

[Bb]in/
[Bb]in/include/
[Bb]in/obj/
[Bb]in/src/

# Misc.

[Ll]ogs/
[Ll]ogs/*.txt
[Ll]ogs/*.log
[Cc]rash-logs/
[Cc]rash-logs/*.txt
[Cc]rash-logs/*.log
